<!doctype html>
<html lang="en" ng-app="todo-mvc">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<section class="todoapp" ng-controller="todos">
			<form class="header" ng-submit='addNewTodo()'>
				<h1>todos</h1>
				<input class="new-todo"
							 placeholder="What needs to be done?"
							 ng-model='newTodo'
							 autofocus>
			</form>
			<section class="main" ng-if='todos.length'>
				<input class="toggle-all" type="checkbox" ng-click='markAllComplete()'>
				<label for="toggle-all">Mark all as complete</label>

				<ul class="todo-list">
					<li ng-repeat='todo in todos'
							ng-class='{completed: todo.completed, editing: todo.editing}'
							>
						<div class="view" ng-if='!todo.editing'>
							<input class="toggle" type="checkbox" ng-model='todo.completed'>
							<label ng-dblclick='editTodo(todo)'>{{todo.title}}</label>
							<button class="destroy" ng-click='removeTodo(todo)'></button>
						</div>
						<form ng-submit='finishEdit(todo)' ng-if='todo.editing'>
							<input class="edit" ng-model='todo.editTitle' ng-blur='abandonEdit(todo)'>
						</form>
					</li>
				</ul>
			</section>

			<!-- This footer should hidden by default and shown when there are todos -->
			<footer class="footer" ng-if='todos.length'>
				<!-- This should be `0 items left` by default -->
				<span class="todo-count"><strong>{{uncompletedCount}}</strong> items left</span>
				<!-- Hidden if no completed items are left ↓ -->
				<button class="clear-completed">Clear completed</button>
			</footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<p>Created by Floyd May and the awesome attendees at TulsaTechfest 2015</p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<!-- Scripts here. Don't remove ↓ -->
		<!--
		<script src="node_modules/todomvc-common/base.js"></script>
		-->
		<script src="node_modules/angular/angular.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
